<div class="row">
  <div class="col-lg-10 offset-lg-1 col-md-12 text-center">
    <div class="lead">
      <form class="form-group" novalidate>
        <div class="input-group">

          <input type="text" class="form-control" placeholder="Search" [(ngModel)]="query_input"
            (keyup)="onChangeQuery($event)" [ngModelOptions]="{standalone: true}" />

          <select class="form-control" name="trans_type_input" [(ngModel)]="trans_type_input"
            (change)="onChangeTransType($event)">
            <option *ngFor="let item of trans_type" [value]="item">
              {{item}}
            </option>
          </select>

          <select class="form-control" name="car_type_input" [(ngModel)]="car_type_input"
            (change)="onChangeCarType($event)">
            <option *ngFor="let item of car_type" [value]="item">
              {{item}}
            </option>
          </select>

          <select class="form-control" name="fuel_type_input" [(ngModel)]="fuel_type_input"
            (change)="onChangeFuelType($event)">
            <option *ngFor="let item of fuel_type" [value]="item">
              {{item}}
            </option>
          </select>

          <select class="form-control" name="sort_by_input" [(ngModel)]="sort_by_input"
            (change)="onChangeSortBy($event)">
            <option *ngFor="let item of sort_by" [value]="item">
              {{item}}
            </option>
          </select>

        </div>
      </form>
    </div>
  </div>
</div>

<div class="card-rows">

  <div class="card" *ngFor="let item of items | paginate: { itemsPerPage: 6, currentPage: page }">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-4">
          <img class="" src="{{item.photo}}" alt="{{item.name}}" width="100%">
        </div>
        <div class="col-sm-6">
          <h5 class="card-title">
            {{item.name}}
            <span class="badge"><i class="fa fa-chair"></i> {{item.seats}}</span>
          </h5>
          <p class="card-text">
            <span class="badge"><i class="fa fa-cogs"></i> {{item.transmission}}</span>
            <span class="badge"><i class="fa fa-car"></i> {{item.car_Type}}</span>
            <span class="badge"><i class="fa fa-gas-pump"></i> {{item.fuel_Type}}</span>
            <br>
            <br>
            <app-weekstatus [data]="item.availability"></app-weekstatus>
          </p>
        </div>
        <div class="col-sm-2 text-center">
          <br>
          <h3 class="text-green">₹{{item.price}}</h3>
          <br>
          <a href="#" class="btn btn-primary btn-block">Book</a>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="row">
  <div class="col-lg-10 offset-lg-1 col-md-12 text-center">
    <div class="lead">
      <div class="d-flex justify-content-center">
        <pagination-controls (pageChange)="page = $event" maxSize="9" directionLinks="true" autoHide="true"
          responsive="true" previousLabel="Previous" nextLabel="Next" screenReaderPaginationLabel="Pagination"
          screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page"></pagination-controls>
      </div>
    </div>
  </div>
</div>
